<p>
  <strong>Price:</strong>
  <%= @booking.price %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @booking.duration %>
</p>

<p>
  <strong>Room:</strong>
  <%= @booking.room %>
</p>

<p>
  <strong>Location:</strong>
  <%= @booking.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user.username %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
